PORT=8000
MERCHANT_ADDRESS=TQGfKPHs3AwiBT44ibkCU64u1G4ttojUXU
# We will generate a real test private key and address using TronWeb shortly if needed, or user can provide one
TRON_PRIVATE_KEY="AGENT's PRIVATE KEY HERE"

TELEGRAM_BOT_TOKEN=7897236472:AAFPbXH1wzFMBCsjlyEKPFeE0A2CjHOuoHU
TELEGRAM_CHAT_ID=8152591227
